@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MarketOnlineWebsite.Models.Product>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách sản phẩm : Trang @currentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control"
                                placeholder="Tìm kiếm sản phẩm">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" style="min-width: 20px;" id="txtCatID" name="txtCatID"
                                asp-items="ViewBag.DanhMucSanPham">
                                <option value="" disabled selected>
                                    Chọn danh mục sản phẩm
                                </option>
                                <option value="0">
                                    Chọn tất cả
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="anticon anticon-plus-circle btn btn-primary btn-tone m-r-5" asp-controller="AdminProducts"
                    asp-action="Create">
                    <span class="m-l-25"> Thêm sản phẩm</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Tồn kho</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        var rowNumber = 1;
                        foreach (var productsItem in Model)
                        {
                            <tr>
                                <th scope="row">@rowNumber</th>
                                <td>
                                    @productsItem.ProductId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-15.jpg"
                                    style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@productsItem.ProductName</h6>
                                    </div>
                                </td>
                                <td> @productsItem.Cat.CatName</td>
                                <td> @productsItem.Price.Value.ToString("#,##0") VNĐ</td>
                                <td> @productsItem.UnitsInStock</td>
                                <td>
                                    @if (productsItem.UnitsInStock.Value > 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>In stock</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Out stock</div>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a class="anticon anticon-bars btn btn-success btn-tone m-r-5" asp-action="Details"
                                asp-route-id="@productsItem.ProductId"></a>
                                    <a class="anticon anticon-edit btn btn-warning btn-tone m-r-5" asp-action="Edit"
                                asp-route-id="@productsItem.ProductId"></a>
                                    <a class="anticon anticon-delete btn btn-danger btn-tone m-r-5" asp-action="Delete"
                                asp-route-id="@productsItem.ProductId"></a>
                                </td>
                            </tr>
                            rowNumber++;
                        }
                    }

                </tbody>

            </table>
            <div aria-label="Page navigation Example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts"
                        asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        jQuery("#txtCatID").change(function () {
            var catID = jQuery(this).children(":selected").attr("value");
            catID = parseFloat(catID);
            $('#txtCatID option')
                .removeAttr('selected');
            $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
            $.ajax({
                url: '/Admin/AdminProducts/Fillter',
                datatype: "json",
                type: "GET",
                data: {
                    CatID: catID
                },
                async: true,
                success: function (results) {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });

        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindProduct/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
</script>
}