@model MarketOnlineWebsite.Models.Location

@{
    ViewData["Title"] = "Thông tin quận/huyện";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Location> locations = ViewBag.LsLocation;
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i
                    class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminDistricts" asp-action="Index">Danh sách quận/huyện</a>
            <span class="breadcrumb-item active">Thông tin quận/huyện</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin quận/huyện</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.LocationId</td>
                    </tr>
                    <tr>
                        <td>Tên quận/huyện:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Nguồn gốc:</td>
                          @foreach (var item in locations)
                            {
                                @if (Model.Parent == item.LocationId)
                                {
                                    <td> @item.Name </td>
                                    break;
                                }
                            }
                    </tr>
                     <tr>
                        <td>Sluq:</td>
                        <td>@Model.Slug</td>
                    </tr>
                    <tr>
                        <td>Cấp độ:</td>
                        <td>@Model.Levels</td>
                    </tr>
                     <tr>
                        <td>Tên thể loại:</td>
                        <td>@Model.NameWithType</td>
                    </tr>
                      <tr>
                        <td>Thể loại:</td>
                        @if(Model.Type ==1)
                        {
                            <td>Quận</td>
                        }
                        else if (Model.Type == 2)
                        {
                             <td>Huyện</td>
                        }
                        else
                        {
                             <td>Khác</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

