@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MarketOnlineWebsite.Models.Customer>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminHome" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách khách hàng : Trang @currentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control"
                                placeholder="Tìm kiếm khách hàng">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-affix m-v-10">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 text-right">
                    <a class="anticon anticon-plus-circle btn btn-primary btn-tone m-r-5" asp-action="Create">
                        <span class="m-l-25"> Thêm khách hàng</span>
                    </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Lần đăng nhập gần đây</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if(Model !=null)
                    {
                        var rowNumber = 1; 
                        foreach (var customersItem in Model)
                        {
                            <tr>
                                <th scope="row">@rowNumber</th>
                                <td>
                                    @customersItem.CustomerId
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="~/images/customers/@customersItem.Avatar" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@customersItem.FullName</h6>
                                    </div>
                                </td>
                                <td>@customersItem.Phone</td>
                                <td>@customersItem.Email</td>
                                <td>@customersItem.LastLogin</td>
                                <td>
                                     <a class="anticon anticon-bars btn btn-success btn-tone m-r-5" asp-action="Details" asp-route-id="@customersItem.CustomerId"></a> 
                                     <a class="anticon anticon-edit btn btn-warning btn-tone m-r-5"  asp-action="Edit" asp-route-id="@customersItem.CustomerId"></a>
                                     <a class="anticon anticon-delete btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@customersItem.CustomerId"></a> 
                                </td>
                            </tr>
                             rowNumber ++; 
                        }
                    }
               
                </tbody>

            </table>
@*            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 7 of 7 entries</div> 
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>*@
              <div aria-label="Page navigation Example">
                  <ul class="pagination">
                      <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
                  </ul>
              </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(document).ready(function () {
        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
                 $.ajax({
                    url: '/Admin/Search/FindCustomer/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
        });
    });
</script>
}