@model List<Product>
@if (Model != null && Model.Count > 0)
{
    <div class="product-item-wrap row">
        @foreach (var productItem in Model)
        {
            string url = $"/{productItem.Alias}-{productItem.ProductId}.html";
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img img-zoom-effect">
                        <a href="@url">
                            <img class="img-full" src="~/images/products/@productItem.Thumb" alt="@productItem.Title">
                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="@url">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="@url">@productItem.ProductName</a>
                        <div class="price-box pb-1">
                            <span class="new-price">@productItem.Price.Value.ToString("#,##0") VN</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}
