@model IEnumerable<MarketOnlineWebsite.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageBg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdvertisementsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdvertisementsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdvertisementsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
