@model List<MarketOnlineWebsite.ModelViews.CartItem>
<style>
.tab-one {
    padding-right: 140px;
}
.tab-two {
    padding-right: 185px;
}
.tab-three {
    padding-right: 155px;
}


</style>
@if (Model !=null && Model.Count() > 0 )
{
    <div class="harmic-offcanvas-body">
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4 class="mb-0">Giỏ hàng của tôi</h4>
                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
            </div>
            <ul class="minicart-list">
                @foreach (var item in Model)
                {
                     string url = $"/{item.product.Alias}-{item.product.ProductId}.html";
                    <li class="minicart-product">
                        <a href="@url" class="product-item_img">
                            <img class="img-full" src="~/images/products/@item.product.Thumb" alt="@item.product.ProductName">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="@url">@item.product.ProductName</a>
                            <span class="product-item_quantity">@item.amout x @item.product.Price.Value.ToString("#,##0") VNĐ</span>
                        </div>
                        <a href="javascript:void(0)">
                             <input type="Button" class="removecart btn-primary note-icon-col-remove" value="X" data-mahh="@item.product.ProductId" style="margin-top: 10px;" />
                        </a>
                    </li>
                }
            </ul>
        </div>
@*        <div class="minicart-item_total">
           <strong> <span>Thành tiền:</span></strong>
          <strong> <span class="ammount">@Model.Sum(x=>x.TotalMoney).ToString("#,##0") VNĐ</span></strong>      
        </div>
         <div class="minicart-item_total">
           <strong> <span>Thành tiền:</span></strong>
          <strong> <span class="ammount">@Model.Sum(x=>x.TotalMoney).ToString("#,##0") VNĐ</span></strong>      
        </div>
         <div class="minicart-item_total">
           <strong> <span>Thành tiền:</span></strong>
          <strong> <span class="ammount">@Model.Sum(x=>x.TotalMoney).ToString("#,##0") VNĐ</span></strong>      
        </div>*@
        <div style=" margin-bottom: 40px;margin-top: 20px; line-height: 37px;">
                <strong class="tab-one"> <span>Thành tiền: &emsp;</span></strong>
                <strong> <span class="ammount">@Model.Sum(x=>x.TotalMoney).ToString("#,##0") VNĐ</span></strong> 
                <br>
            @{
                var check ="";
            }
            @foreach (var item in Model)
             {
                @if(item.discount !=null)
                {
                    check = item.discount.ToString();
                    <strong class="tab-two"><span>Mã giảm:&emsp;</span></strong>
                 <strong><span class="discount">@item.discount</span></strong>
                 <br>
                }             
             }
             @{
                 var test123 =Model.Sum(x=>x.TotalMoney)*0.9;
                
             }
            @if(string.IsNullOrEmpty(check) && check.Count() >0)
            {
            <strong class="tab-three"><span>Tổng tiền:&emsp;</span></strong>
            <strong><span class="discount">@test123.ToString("#,##0") VNĐ</span></strong>
            }
        </div>
           
        <div class="group-btn_wrap d-grid gap-2">
            <a href="cart.html" class="btn btn-secondary btn-primary-hover">Xem giỏ hàng</a>           
            @if (User.Identity.IsAuthenticated)
             {
               <a href="/checkout.html" class="btn btn-secondary btn-primary-hover">Thanh toán</a>
            }
            else
            {
                <a href="/dang-nhap.html?returnUrl=checkout.html" class="btn btn-secondary btn-primary-hover">Thanh toán</a>
            }
          
        </div>
    </div>
}
else
{
<div class="harmic-offcanvas-body">
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4 class="mb-0">Giỏ hàng rỗng</h4>
            </div>
        </div>
</div>
}
@section Scripts
{
    <script>
        $(function () {
            function loadHeaderCart() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numbercard").load("/AjaxContent/NumberCart");
            }
            $(".removecart").click(function (){
                 var productid = $(this).attr("data-mahh");
                   $.ajax({
                        url: "api/cart/remove",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid
                        },
                        success: function (result) {
                            if (result.success) {
                                loadHeaderCart();
                               window.location='';
                            }
                        },
                        error: function (rs){
                            alert("Remove Cart Error !");
                        }
                   });
            });
       });
 </script>
}
